.merchbox {

        display: flex;
        align-items: center;
        justify-content: center;

}

.arrowholder {
    display: flex;
    align-items: center;
    justify-content: center;

}
.merchlist {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    
}

.merch-image{
    display: block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}
.merchlist {
    padding-top: 55px;
}
.merch-title {
    text-align: center;
    font-size: 20px;
}
.merch-desc {
    font-size: 14px;
    text-align: center;
}

.merch-item{
    width: 220px;
    overflow: hidden;
    border-style: groove;
    border-width: thick;
border-color: gray;   
margin-left: auto;
margin-right: auto;

-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.merch-image:hover {
    cursor: pointer;
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      opacity: 0.8;
  }

  .tiltbox {
      display: inline-flex;
  }

  .tiltitem {
      display: inline-table;
  }

  .showcasetitle {
    text-align: center;
    margin-top: 10px;
}