.adminblogimg {
    height: 100px;
    width: 180px;
}
.blogdisplay {
    width: 100%;
}
.blogitem {
    width: 20%;
}
.approvalheading {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}
