.aboutmebox {
    display: inline-grid;
    grid-template-columns: 30%, 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.itema{
    padding: 50px;
    padding-top: 75px;
    grid-column-start: 0;
    grid-column-end: 1;
}

.itemb{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 50px;
}
.aboutborder {
    width: 400px;
    overflow: hidden;
 border-style: groove;
 border-width: thick;
 border-color: gray;
 -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1000px){
    .aboutmebox{
        display: inline-grid;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .itema{
        padding: 40px;
        grid-column-start: auto;
        grid-column-end: auto;
    }
    
    .itemb{
        grid-column-start: auto;
        grid-column-end: auto;
    }
}