.banner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}
.bannertitle {
    position: absolute;
    top: 170px;
    color: white;
    font-size: 55px;
    font-weight: bold;

}

.Youtube {
    background-color: transparent;
    width: 70px;
    position: absolute;
    left: 0px;
    top: 3px;
}
.Twitter {
    background-color: transparent;
    width: 70px;
    position: absolute;
    left: 70px;
    top: 3px;
}

.Instagram {
    background-color: transparent;
    width: 70px;
    position: absolute;
    left: 140px;
    top: 3px;
}

.Youtube:hover {
    transform: scale(1.1);
}
.Twitter:hover {
    transform: scale(1.1);
}
.Instagram:hover {
    transform: scale(1.1);
}
@media(max-width: 600px){
    .Instagram {
        background-color: transparent;
        width: 45px;
        position: absolute;
        left: 90px;
        top: 3px;
    }
    .Youtube {
        background-color: transparent;
        width: 45px;
        position: absolute;
        left: 0px;
        top: 3px;
    }
    .Twitter {
        background-color: transparent;
        width: 45px;
        position: absolute;
        left: 45px;
        top: 3px;
    }

}