.banner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Youtube {
    background-color: transparent;
    width: 70px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.Twitter {
    background-color: transparent;
    width: 70px;
    position: absolute;
    right: 70px;
    top: 0px;
}

.Instagram {
    background-color: transparent;
    width: 70px;
    position: absolute;
    right: 140px;
    top: 0px;
}