.banner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Youtube {
    background-color: transparent;
    width: 70px;
    position: absolute;
    right: 0px;
    top: 3px;
}
.Twitter {
    background-color: transparent;
    width: 70px;
    position: absolute;
    right: 70px;
    top: 3px;
}

.Instagram {
    background-color: transparent;
    width: 70px;
    position: absolute;
    right: 140px;
    top: 3px;
}

.Youtube:hover {
    transform: scale(1.1);
}
.Twitter:hover {
    transform: scale(1.1);
}
.Instagram:hover {
    transform: scale(1.1);
}